#d{width:100%;height:690;background-color:#f1f1f1}
#d1{width:165px;height:60px;background-colo:green;border-bottom-style: solid;margin-top:5px;color:black}
#s1{margin:10px;font-size:20px;font-style:italic;color:black;}
#d2{width:165px;height:60px;border-bottom-style: solid;color:black}
#d3{width:165px;height:60px;border-bottom-style: solid;color:black}
#d4{width:165px;height:60px;border-bottom-style: solid;color:black}
#d5{width:165px;height:60px;border-bottom-style: solid;color:black}
#d6{width:165px;height:60px;border-bottom-style: solid;color:black}
#d7{width:165px;height:60px;border-bottom-style: solid;color:black}
#d8{width:165px;height:60px;border-bottom-style: solid;color:black}
#d9{width:165px;height:60px;border-bottom-style: solid;color:black}
#d10{width:165px;height:60px;border-bottom-style: solid;color:black}
#d11{width:165px;height:60px;margin-bottom:5px}
#ss{float:right}
#s2{margin:10px;font-size:20px;font-style:italic;color:black;}
#s3{margin:10px;font-size:20px;font-style:italic;color:black;}
#s4{margin:10px;font-size:20px;font-style:italic;color:black;}
#s5{margin:10px;font-size:20px;font-style:italic;color:black;}
#s6{margin:10px;font-size:20px;font-style:italic;color:black;}
#s7{margin:10px;font-size:20px;font-style:italic;color:black;}
#s8{margin:10px;font-size:20px;font-style:italic;color:black;}
#s9{margin:10px;font-size:20px;font-style:italic;color:black;}
#s10{margin:10px;font-size:20px;font-style:italic;color:black;}
#s11{margin:10px;font-size:20px;font-style:italic;color:black;}